build/
*.egg-info
__pycache__
*.pyc
.DS_Store
.vscode/
src/f110_gym/unittest/maps/
src/f110_gym/unittest/centerline/
docs/_build/
*.mypy_cache/
flycheck_*
.venv/
data/models/checkpoints/
scripts/train/slurm_logs/
